USER_DB_HOST_PORT=5434
USER_DB_NAME=user_service
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=change-me

NOTIFICATION_DB_HOST_PORT=5435
NOTIFICATION_DB_NAME=notification_service
NOTIFICATION_DB_USERNAME=postgres
NOTIFICATION_DB_PASSWORD=change-me

USER_SERVICE_PORT=3001
USER_SERVICE_DB_HOST=user-db
USER_SERVICE_DB_PORT=5432

NOTIFICATION_SERVICE_PORT=3002
NOTIFICATION_SERVICE_DB_HOST=notification-db
NOTIFICATION_SERVICE_DB_PORT=5432

NOTIFICATION_SERVICE_URL=http://notification-service:3002
